<h2>
	This is the secret page
</h2>

<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rick-morty-1557995325.jpg?resize=480:*">

<a href="/register">Sign Up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>